.Toolbar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0; 
  left: 0;
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 90;
  nav {
    height: 100%;
  }
}

.hideMeMobile {
  @media (max-width: 499px) {
    display: none;
  }
  // @media (min-width: 500px) {
  //   display: block;
  // }
}