.red {
  color: red;
}

.uppercase {
  text-transform: uppercase
}

.Cockpit button {
  background-color: green;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.red {
  background-color: red;
}
.Cockpit button.red:hover {
  background-color: salmon;
  color: black;
}