.NavItem {
  margin: 0;
  display: flex;
  width: 100%;
  align-items: center;
  @media (min-width: 500px) {
    width: auto;
    height: 100%;
  }
  a {
    color: #000;
    text-decoration: none;
    width: 100%;
    padding: 16px 10px;
    border-left: 4px solid transparent;
    @media (min-width: 500px) {
      color: white;
      border-left: none;
      border-bottom: 4px solid transparent;
      height: 100%;
    }
    display: block;
    &:hover,
    &:active,
    &.active {
      background-color: #eee;
      color: #000;
      border-left-color: #000;
      @media (min-width: 500px) {
        border-bottom-color: #000;
      }
    }
  }
}
